/* GLOBAL PROPERTIES */
::-webkit-scrollbar { 
    display: none; 
}

:root {
    --mygray: #F0F0F0;
}

/* FLEX PROPERTIES */
.flexrow{
    display : flex;
    flex-direction : row;
}
.flexcolumn{
    display : flex;
    flex-direction : column;
}
.flexjustifycenter{
    display : flex;
    justify-content: center;
}
.flexspacebetween{
    display : flex;
    justify-content: space-between;
}
.flex1{
    display : flex;
    flex : 1;
}
.marginleft100{
    margin-left : 100px;
}

.paddingleft{
    padding-left : 50px;
}

.minwidth100{
    min-width : 100%;
}

p{
    font-size: 2em;
    font-family: Courier;
}

/* Major Divs */
#page{
    position: absolute;
    top :0;
    left:0;
    min-height: 100%;
    min-width : 100%;
    display : flex;
    justify-content: space-between;
    flex-direction: column;
}

#pageexceptfooter{
    min-height: 100%;
}

header{
    height: 80px;
    background-color: var(--mygray);
    width : 100vh;
}

#canvas-holder{
    margin-top : 2em;
    border : 3px black solid;
    width : 1200px;
    z-index: -1;
}

footer{
    height: 80px;
    width : 100vh;
    background-color: var(--mygray);
    z-index : 3;
}